{
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "browserslist": true,
    "trailingComma": "all",
    "printWidth": 60,
    "arrowParens": "always",
    "endOfLine": "lf"
}
